
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>OrderDetail</title>
    <link href="~/Content/lib-master/theme-chalk/index.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Content/lib-master/vue-2.6.12.js"></script>
    <script src="~/Content/lib-master/index.js"></script>
    <script src="~/Scripts/axios.js"></script>
</head>
<body>
    <div id="app">
        <el-tabs type="border-card">
            <el-tab-pane>
                <span slot="label"><i class="el-icon-notebook-1"></i>订单详细信息</span>
                <div id="content">
                    <el-descriptions title="订单信息" :column="2" border>
                        <el-descriptions-item label="订单编号"></el-descriptions-item>
                        <el-descriptions-item label="订单时间"></el-descriptions-item>
                        <el-descriptions-item label="订单总金额"></el-descriptions-item>
                        <el-descriptions-item label="订单状态"></el-descriptions-item>
                    </el-descriptions>
                    <el-descriptions title="购物人信息" :column="2" border>
                        <el-descriptions-item label="登录账号"></el-descriptions-item>
                        <el-descriptions-item label="收货人"></el-descriptions-item>
                        <el-descriptions-item label="联系电话"></el-descriptions-item>
                        <el-descriptions-item label="收货地址"></el-descriptions-item>
                    </el-descriptions>
                    <h4>订单详细信息</h4>
                    <el-table :data="tableData" style="width: 100%" :stripe="true" :border="true" size="small ">
                        <el-table-column fixed prop="OrderNum" label="书籍名" width="150">
                        </el-table-column>
                        <el-table-column fixed prop="UserNick" label="单价" width="150">
                        </el-table-column>
                        <el-table-column fixed prop="OrderDate" label="数量" width="150">
                        </el-table-column>
                        <el-table-column fixed prop="OrderMoney" label="总金额" width="150">
                        </el-table-column>
                    </el-table>
                </div>
            </el-tab-pane>
        </el-tabs>
    </div>
</body>
</html>
<script>
    var Vue = new Vue({
        el: "#app",
    })
</script>
