
@{
    ViewBag.Title = "DisplayPage";
    Layout = "~/Views/userBook_1.cshtml";
}

<!--中部开始-->
<div>

    <div style="background-color:#F6F6F6;color:Black;font-weight:bold;font-size:14px;height:30px;line-height:30px;padding:3px 10px">完成订单</div>
    <p></p>
    <div style="text-align:center"><font style="font-size:20px;font-weight:bold">订单号：@Session["num"]</font></div>
</div>
<!--中部结束-->
